@using ColorDisplay.Models;

@model List<ColorModel>;
<div class="container" id="DetailsContainer">
    <div class="row" style="height:75%">
        <div class="col">
            <div class="tile_no_hover" data-toggle="modal" data-target="#colorModal">
                <div class="color-swatch" style="background-color:rgb(@Model[2].red, @Model[2].green, @Model[2].blue)"></div>
                <div class="info" style="font-size:2vw">@Model[0].HexCode</div>
            </div>
        </div>
    </div>
    <div class="equal row" style="height:25%">
        @for (int i = 4; i >= 0; i--)
        {
            <div class="span2">
                <div class="tile_no_hover" data-toggle="modal" data-target="#colorModal">
                    <div class="color-swatch" style="background-color:rgb(@Model[i].red, @Model[i].green, @Model[i].blue)"></div>
                    <div class="info">
                        @Model[i].HexCode
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .equal .span2 {
        width: 17.9%;
        margin: 0 auto;
    }

    #DetailsContainer {
        height:60vh;
        max-width:90%;
    }

</style>



